*{
    margin: 0;
    padding:0;
}

body{
    background-color: #f5f2f5;
}
/* item detail page starts */
#itemdetail{
    text-align: center;
}
.itemdetail-left{
    width:40%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    /* margin-left: 5%; */
    margin-right:5%;
}


.itemdetail-left img{
    vertical-align: middle;
    width: 80%;
    height: 90%;
    padding: 10%;
}


.itemdetail-right{
    width:40%;
    height:100%;
    background-color: rgb(255, 255, 255);
    display: inline-block;
    /* margin-left: 55px; */
    /* margin-right:5%; */
    vertical-align: middle;
    text-align: center;
}

.itemdetail-right h2{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 24px;
    letter-spacing: 2%;
    margin-bottom: 10px;
    margin-top: 20px;
}

.itemdetail-right h4{
    font-style: italic;
    font-weight: 500;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}

.right-small-box{
    width:56%;
    margin: 0% 22%;
    background-color: #802d34;
    margin-bottom: 30px;
}

.right-small-box p{
    font-size: 14px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 250;
    padding: 20px 20px;
    line-height: 23px;
    letter-spacing: 2%;
}

.itemabout span{
    margin-right: 5%;
    font-size: 14px;
    font-style: italic;
    font-weight: 800;
}

.selection{
    margin-top: 30px;
    align-items: center;
    height: 80px;
}

.cart{
    background-color: black;
    width:35%;
    display: inline-block;
    vertical-align: middle;
    height: 40px;
    margin-right: 5%;
}

.cart p{
    color: white;
    font-size: 90%;
    padding: 0 8px;
    display: inline-block;
    line-height: 40px;
}

.cart img{
    width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.below{
    background-image: url(../image/below.png);
    background-color: black;
    display: inline-block;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
    background-position: center center;
    vertical-align: middle;
    margin-right: -1%;
}

.number{
    height:40px;
    width: 40px;
    background-color: black;
    display: inline-block;
    color: white;
    vertical-align: middle;
    line-height: 40px;
}

/* item-detail page ends */

